<doctype! html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="morningroutine.js"></script>
</head>
<body ng-app="morningroutine" ng-controller="routineCtrl">

  <!-- Nav Bar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Morning Routine Manager</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Routines</a></li>
          <li class="active" ng-click="signout()"><a href="#">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Nav Bar -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12" class="navigation">
        <a href='#/routines' class='index'>All Links</a>
        <a href='#/shorten' class='create'>Shorten</a>
        <a ng-click='signout()' class='logout'>Logout</a>
      </div>
    </div>
  </div>

    <!-- Sign Up -->
  <div class="container" ng-show="notsignedin">
    <div class="row">
      <br><br>
      <div align="center">
        <h3>Build your morning schedule and never forget all your important tasks!</h3>
        <img src="assets/alarm.gif">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6" class="signin">
        <form class="form-signin" ng-submit='signin()'>
          <h2 class="form-signin-heading">Please sign in</h2>
          <label for="inputUser" class="sr-only">Username</label>
          <input type="text" id="inputUser" class="form-control" name="username" placeholder="Username or Email" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
      </div>
      <div class="col-sm-6" class="signup">
        <form class="form-signup" ng-submit='signin()'>
          <h2 class="form-signin-heading">Sign up for a new account</h2>
          <label for="inputUser" class="sr-only">Username</label>
          <input type="text" id="inputUser" class="form-control" name="username" placeholder="Username or Email" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" class="form-control" name="password" placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container" ng-show="signedin">
    <div class="row"><br><br></div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h4 align="center">Build your schedule<br>Finish all your morning chores<br>Save your energy for the important decisions<br>Never forget your keys or lunch again!</h4>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>

  <!-- Add New Routine -->
  <div class="container" ng-show="signedin">
      <div class="row">
        <div class="col-sm-6">
          <form class="form-leavetime" ng-submit="leavetime()">
            <h3 class="form-newroutine-heading">When do you have to leave by?</h3>
            <input type="time" class="form-control" ng-model="user.leavetime">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Leave Time</button>
          </form>
        </div>

        <div class="col-sm-6"><br>
          <div align="center" ng-show="leavetimeset"><h2>You want to leave by {{ user.leavetime }}</h2></div>
          <div align="center"><h2>It is currently {{ clock | date:'shortTime' }}</h2></div>
        </div>
      </div>
    <div class="row">
      <div class="col-sm-6" class="newroutine">
        <form class="form-newroutine" ng-submit='submit()'>
          <h3 class="form-newroutine-heading">Add to your routine!</h3>
          <input type="text" class="form-control" ng-model='routine.title' required autofocus placeholder="Routine Name">
          <input type="text" class="form-control" ng-model='routine.description' placeholder="Routine Description">
          Importance: <select required id="routineimportance" ng-model='routine.rating'>
            <option value="bg-muted">1</option>
            <option value="bg-success">2</option>
            <option value="bg-info">3</option>
            <option value="bg-warning">4</option>
            <option value="bg-danger">5</option>
          </select><br>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Add New Routine</button>
        </form>
      </div>


  </div>

  <!-- Routines -->
  <div class="container" ng-show="signedin">
    <div class="row">
      <div class="col-sm-12"><br><br></div>
    </div>
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <button class="btn btn-success btn-block ng-hide" ng-click="start()" ng-show="startbutton">Start your morning routine!</button>
        <button class="btn btn-primary btn-block" ng-click="remove(); start()">Finished with task!</button>
      </div>
      <div class="col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div align="center"><h2>Items To Do</h2></div>

        <table class="table">
          <thead>
            <tr>
              <th width="25%">Task</th>
              <th width="35%">Description</th>
              <th width="40%">Start Time</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="routine in routines" class="{{ routine.rating }}">
              <td>{{ routine.title }}</td>
              <td>{{ routine.description }}</td>
              <td>{{ routine.start | date:'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Routines -->
  <div class="container" ng-show="signedin">
    <div class="row">
      <div class="col-sm-12"><br><br></div>
      <div align="center"><h2>Completed Items</h2></div>
    </div>
    <div class="row" ng-show="completed">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <h3 align="center">Finished all tasks in {{ totalTime }}!</h3>
        <h2>You have to leave by {{ user.leavetime }} and it is {{ clock | date:'shortTime' }}</h2>
      </div>
      <div class="col-sm-2"></div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th width="25%">Task</th>
              <th width="35%">Description</th>
              <th width="25%">Start Time</th>
              <th width="15%">Time to Complete</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="routine in finishedRoutines" class="{{ routine.rating }}">
              <td>{{ routine.title }}</td>
              <td>{{ routine.description }}</td>
              <td>{{ routine.start | date:'medium' }}</td>
              <td>{{ routine.duration }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <!-- Testing Routines Array -->
  <hr>
  <pre>
    {{ routines }}
    {{ user.leavetime }}
  </pre>




</body>
</html>
