<doctype! html>
<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="morningroutine.js"></script>
</head>
<body ng-app="morningroutine" ng-controller="routineCtrl">

  <!-- Header -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Morning Routine Manager</h1>
      </div>
    </div>
  </div>

    <!-- Sign In -->
  <div class="container" ng-show="notsignedin">
    <div class="row">
      <div class="col-sm-12" class="signin">
        <h1>Sign In</h1>
        <form name="signinForm" ng-submit='signin()'>
          Username: <input type='text' ng-model='user.username'><br>
          Password: <input type="password" ng-model='user.password'><br>
          <button>Sign In!</button>
        </form>
        <a href="#/signup">Don't have an account? <strong>Sign up</strong> ...</a>
      </div>
    </div>
  </div>

  <!-- Nav Bar -->
  <div class="container" ng-show="signedin">
    <div class="row">
      <div class="col-sm-12" class="navigation">
        <a href='#/routines' class='index'>All Links</a>
        <a href='#/shorten' class='create'>Shorten</a>
        <a ng-click='signout()' class='logout'>Logout</a>
      </div>
    </div>
  </div>

  <!-- Add New Routine -->
  <div class="container" ng-show="signedin">
    <div class="row">
      <div class="col-sm-12" class="newroutine">
        <h2>Add to your routine!</h2>
        <form name="submitForm" ng-submit='submit()'>
          Routine Title:<br><input type='text' ng-model='routine.title'><br>
          Routine Description:<br><input type='text' ng-model='routine.description'><br>
          <button>Add New Routine</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Routines -->
  <div class="container" ng-show="signedin">
    <div class="row">
      <button ng-click="remove()">Complete</button>
      <div class="col-sm-12" ng-repeat="routine in routines">
        <div class="title">To Do: {{ routine.title }}</div>
        <div class="description">Steps: {{ routine.description }}</div>
        <hr>
      </div>
    </div>
  </div>


<!-- Testing Routines Array -->
  <hr>
  <pre>
    {{ routines }}
  </pre>


</body>
</html>
